<!-- topbar -->
<section class="topbar-container">
	<div class="container-fluid">
		<!-- search -->
		<div class="col-xs-12 col-sm-4 text-left xs-center">
			<form action="#" method="POST">
				<input type="text" name="key" placeholder="Search"
					class="form-control search-key" />
			</form>
		</div>
		<!-- logo -->
		<div class="col-xs-12 col-sm-4 xs-center">
			<a href="#/" class="logo"><img src="images/logo.png" alt="Logo" /></a>
			<div class="clearfix"></div>
		</div>
		<!-- account -->
		<div class="col-xs-12 col-sm-4 text-right xs-center">
			<button type="button" class="btn btn-signin"
				ng-click="loadLoginForm()">Sign In</button>
			<button type="button" class="btn btn-signup"
				ng-click="loadSignUpForm()">Sign Up</button>
			<a href="#/userprofile">My Profile</a>
		</div>
	</div>
</section>