.mb-10{
	margin-bottom: 10px !important;
}

.mt-10{
	margin-top: 10px !important;
}

.mt-5{
	margin-top: 5px !important;
}

.mt-15{
	margin-top: 15px !important;
}

.pl-5{
	padding-left: 5px !important;
}

.pr-5{
	padding-right: 5px !important;
}

.ml-15{
	margin-left: 15px !important;
}