/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2017, 4:22:12 PM
    Author     : Sher Singh
*/
.slider.slider-horizontal {
	width: 100%;
}

.search-container {
	padding: 30px 15px 10px;
	background-color: #F6F6F6;
	border-bottom: 1px solid #DDDDDD;
}

.place-container, .theme-container, .budget-container {
	border: 0;
	margin: 0;
	background-color: #FAFAFA;
}

.place-container ul, .theme-container ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	list-style: none;
	line-height: 30px;
}

.theme-container ul li:last-child {
	border: 0;
}

.place-container ul li, .theme-container ul li {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #EEEEEE;
}

.place-container ul li label, .theme-container ul li label {
	margin: 0;
	padding: 0;
	line-height: 30px;
	font-weight: normal;
}

.place-container ul li label img {
	width: 22px;
	margin-left: 5px;
}

.theme-container ul li label input[type=checkbox], .place-container ul li label input[type=checkbox]
	{
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 12px;
	line-height: 30px;
	background: url('../images/checked.png');
}

.grid-item {
	margin-bottom: 20px;
}

.grid-images img {
	max-width: 100%;
}

.grid-info {
	padding: 0;
}

.grid-info h3 {
	margin: 0;
}

.grid-info p {
	color: #696EB8;
	margin: 0;
}

.grid-info .grid-price {
	color: #4ADCA4;
	margin: 0;
}

.search-results {
	background: #FAFAFA;
	padding: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.filter {
	padding: 5px;
	margin-left: 10px;
	border-radius: 15px;
	border: 1px solid #DDDDDD;
	background-color: #FFFFFF;
}

select.selector {
	padding: 6px;
}

.selector {
	width: 200px;
	padding: 4px;
	line-height: 20px;
	margin: 30px 0;
}

.logo-container {
	position: absolute;
	top-4px;
}

.logo {
	position: relative;
}

.social-media {
	top: 0;
}

.topbar-container {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 0;
	background-color: #393838;
}

.social-container {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 0;
	background-color: #000000;
}

.footer-container {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	padding: 20px 0 10px 0;
	background-color: #000000;
}

.theme-color {
	color: #BAAB65;
}

.logo {
	padding: 0;
	outline: 0;
	z-index: 100;
	max-width: 248px;
	display: inline-block;
	text-decoration: none;
	position: absolute;
	margin: -15px auto 0 70px;
}

.logo img {
	width: 100%;
}

.search-key {
	max-width: 250px;
	border-radius: 20px;
	display: inline-block;
	border: 1px solid #BAAB65;
}

.btn-send, .btn-signin, .btn-signup {
	color: #FFFFFF;
	margin: 0 10px;
	min-width: 90px;
	border-color: #BAAB65;
	background-color: #BAAB65;
}

.btn-send:hover, .btn-signin:hover, .btn-signup:hover {
	color: #000000;
	margin: 0 10px;
	min-width: 90px;
	border-color: #BAAB65;
	background-color: #FFFFFF;
}

.carousel-inner .item img {
	min-height: 180px;
}

.events-title {
	margin: 0;
	padding: 15px;
	background-color: #EEEEEE;
	border-top: 1px solid #BAAB65;
	border-bottom: 1px solid #BAAB65;
}

.events-content {
	font-size: 16px;
	line-height: 35px;
	padding-top: 40px;
	padding-left: 80px;
	padding-bottom: 40px;
	line-height: 30px;
}

.events-content ul {
	list-style: none;
}

.events-content li img {
	width: 24px;
	height: 24px;
	vertical-align: top;
}

.choose-your {
	display: inline-block;
	color: #FFFFFF;
	margin: auto;
	padding: 6px 20px;
	background-color: #BAAB65;
	border-radius: 20px;
}

#laft-bar-formlaft-bar-form {
	position: absolute;
	top: 60px;
	left: 0;
	padding: 17px 30px;
	background: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width:768px) {
	.xs-center {
		text-align: center;
	}
	.logo {
		position: relative;
		margin: 0 0 0 -20px;
	}
	#laft-bar-formlaft-bar-form {
		display: none;
	}
	.events-content {
		padding-left: 20px;
	}
}

.stars {
	margin: 0px 0 20px 0px;
	font-size: 24px;
	color: #e9d914;
}

.venue_color {
	color: #bb66b1;
}

.venue_address {
	color: rgba(184, 108, 175, 0.7);
	font-size: 20px;
}

.starts_count {
	font-size: 14px;
	color: rgba(184, 108, 175, 0.7);
}

.star {
	font-size: 20px;
}

.venue_highlights {
	margin-top: 20px;
}

.best_rate {
	font-size: 20px;
	color: #55d523;
}

.venue_price {
	color: #7d7d7d;
}

.check_rate {
	font-size: 32px;
}

.chk_btn {
	color: #fff;
	background-color: #c2707e !important;
	border: 3px solid #bbac66;
	font-size: 24px;
	letter-spacing: 3px;
	margin-top: 80px;
	margin-bottom: 40px;
	padding: 10px 50px;
}

.book_place {
	color: #fff;
	background-color: #bbac66 !important;
	border: 3px solid #ab9b51;
	font-size: 24px;
	letter-spacing: 3px;
	margin-top: 80px;
	margin-bottom: 40px;
	padding: 10px 50px;
}

@media ( min-width : 768px) {
	.omb_row-sm-offset-3 div:first-child[class*="col-"] {
		margin-left: 25%;
	}
}

.omb_login .omb_authTitle {
	text-align: center;
	line-height: 300%;
}

.omb_login .omb_socialButtons a {
	color: white;
	//
	In
	yourUse
	@body-bg
	opacity
	:
	0.9;
}

.omb_login .omb_socialButtons a:hover {
	color: white;
	opacity: 1;
}

.omb_login .omb_socialButtons .omb_btn-facebook {
	background: #3b5998;
}

.omb_login .omb_socialButtons .omb_btn-twitter {
	background: #00aced;
}

.omb_login .omb_socialButtons .omb_btn-google {
	background: #c32f10;
}

.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}

.omb_login .omb_loginForm  .help-block {
	color: red;
}

@media ( min-width : 768px) {
	.omb_login .omb_forgotPwd {
		text-align: right;
		margin-top: 10px;
	}
}

.social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.social {
	-webkit-transform: scale(0.8);
	/* Browser Variations: */
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/
#social-fb:hover {
	color: #3B5998;
}

#social-tw:hover {
	color: #4099FF;
}

#social-gp:hover {
	color: #d34836;
}

#social-em:hover {
	color: #f39c12;
}

a {
	color: #BAAB65;
}

.marizo_btn {
	background: #bbac66;
	border: 2px solid #393838;
	color: #393838;
}

.marizo_btn:hover {
	background: #393838;
	border: 2px solid #bbac66;
	color: #fff;
}

.icon_clr {
	color: #bbac66;
}

.input-group-addon {
	background-color: #555;
}

.field_mrgn {
	margin-bottom: 10px;
}

@media ( min-width : 992px) {
	.modal-lg {
		width: 600px !important;
	}
}

#leftPanel {
	background-color: #0079ac;
	color: #fff;
	text-align: center;
}

#rightPanel {
	min-height: 415px;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%,
		#f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%,
		#db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%,
		#669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%,
		#f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%,
		#db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%,
		#669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca
		25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe
		50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1
		87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca
		25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe
		50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1
		87.5%, #62c2e4 87.5%, #62c2e4);
}