<div class="modal-header">
	<button type="button" class="close pull-right"
		ng-click="closeForgotPasswordModal()">&times;</button>
	<div class="h3 mt-10">Forgot Password</div>
</div>
<div class="modal-body">
	<input class="form-control" placeholder="Email or Mobile"
		ng-model="$parent.forgotUser">
</div>
<div class="modal-footer">
	<button class="btn btn-default pull-right"
		ng-click="closeForgotPasswordModal()">Close</button>
	<button class="btn btn-success pull-right mr-5" ng-click="forgotPassword()">Submit</button>
</div>