
<section style="background: #fff4f6;">
	<div class="container-fluid">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h1 class="venue_color">Welcome to {{venue.name}}</h1>
			<p class="venue_address">{{venue.city}},{{venue.state}}</p>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="">
					<div class="stars starrr col-md-6 col-sm-6 col-xs-6"
						data-rating="0">
						<span class="glyphicon  star glyphicon-star-empty"></span> <span
							class="glyphicon star glyphicon-star-empty"></span> <span
							class="glyphicon star glyphicon-star-empty"></span> <span
							class="glyphicon star glyphicon-star-empty glyphicon-star-empty"></span>
						<span class="glyphicon star  glyphicon-star-empty"></span>
						<p class="starts_count">{{venue.rating}} Stars</p>
					</div>
					<div class="stars starrr col-md-6 col-sm-6 col-xs-6"
						data-rating="0">
						<span
							class="glyphicon star glyphicon-star-empty glyphicon-star-empty"></span>
						<span class="glyphicon star glyphicon-star-empty"></span> <span
							class="glyphicon star glyphicon-star-empty"></span> <span
							class="glyphicon star glyphicon-star-empty"></span> <span
							class="glyphicon star glyphicon-star-empty"></span>
						<p class="starts_count">777 Reviews</p>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-4">
					<label>CAPACITY : </label>
					{{venue.capacity.banquet.min}} - {{venue.capacity.banquet.max}}
			</div>
			<!-- <div class="col-md-4 col-sm-4">
				<div class="col-md-4">
					<label>Booking Date</label>
				</div>
				<div class="col-md-8">
					<select class="form-control" id="sel1">
						<option>0-50</option>
						<option>51-100</option>
						<option>101-150</option>
						<option>151-200</option>
					</select>
				</div>
			</div> -->
		</div>
		<div class="row">
			<div style="padding-left: 0;" class="col-md-8 col-sm-8">
				<div style="padding-left: 0;" class="col-md-12 col-sm-12">
					<img class="img-responsive" src="images/akm_venue.png">
					<div style="margin-top: 40px;" class="col-md-6 col-sm-6 col-xs-12">
						<h2>
							<span
								style="border-bottom: 2px solid #c2707e; padding-bottom: 5px;">Highlights
								of the Palace</span>
						</h2>
						<ul class="venue_highlights">
							<li ng-repeat="facility in venue.facilities">{{facility | uppercase}}</li>
						</ul>
					</div>
					<!-- {{venue.googleMap}} -->
					<div style="padding-right: 0; margin-top: 40px;"
						class="col-md-6 col-sm-6 col-xs-12">
						<iframe ng-src="{{mapFrame}}" width="100%" height="250"
							frameborder="0" style="border: 0" allowfullscreen></iframe>
					</div>
				</div>
				<div style="margin-bottom: 30px;"
					class="col-md-12 col-sm-12 col-xs-12">{{venue.about}}</div>
			</div>
			<div class="col-md-4 col-sm-4">

				<p class="text-center best_rate">Best price for booking date</p>
				<h1 class="text-center venue_price">1,156745</h1>
			</div>
			<p class="text-center check_rate">Check other dates for
				attractive booking prices.</p>
			<img class="center-block img-responsive" src="images/price-list.png">
			<button type="button" class="btn center-block chk_btn">Add
				to Checklist</button>
			<button type="button" class="btn center-block book_place">Book
				this Palace</button>
</section>
<!-- /Page Content -->